In [11]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict, Counter, OrderedDict

vectorizer = TfidfVectorizer()

In [25]:
synthetic_df = pd.read_csv("data_csv_format/synthetic_vacancies_final.csv")
print("Total Job Description", synthetic_df.shape[0])

Total Job Description 366

In [28]:
synthetic_df.nsmallest(n=10, columns=["women_proportion"])

                                       job_description  women_proportion
112  Title: Data Scientist. Description: We are see...          0.200425
22   Title: Technical Program Manager. Description:...          0.201357
222  Title: IT Manager. Description: We are looking...          0.201706
182  Title: Scrum Master. Description: We are looki...          0.203678
150  Title: Network Administrator. Description: We ...          0.204185
9    Job Title: user interface developer. Job Descr...          0.211380
255  Title: ETL Developer. Description: We are look...          0.211791
125  Title: Security Engineer. Description: We are ...          0.214452
151  Title: Mobile Architect. Description: We requi...          0.216282
267  Title: Director of Information Technology. Des...          0.217306

In [29]:
synthetic_df.nlargest(n=10, columns=["women_proportion"])

                                       job_description  women_proportion
27   Title: E-commerce Specialist. Description: We ...          0.798405
185  Job Title: Robotics engineer\nJob Description:...          0.798279
254  Title: Content Strategist. Description: We are...          0.794079
193  Title: IT Support Specialist. Description: We ...          0.792439
260  Title: Quality Assurance Analyst. Description:...          0.791905
219  Title: Partner Success Manager. Description: O...          0.791104
163  Title: Marketing Analyst. Description: We are ...          0.789447
292  Title: Business Analyst. Description: Our team...          0.786519
54   Title: Data Analyst. Description: Our organiza...          0.783392
105  Title: Technical Account Manager. Description:...          0.782520

In [33]:
#synthetic_job_descript = synthetic_df["job_description"].astype(str).tolist()
tfidf_synthetic = vectorizer.fit_transform(synthetic_df["job_description"])

In [32]:
tf_idf_list = zip(vectorizer.get_feature_names_out(), vectorizer.idf_)
sorted_tf_idf = sorted(tf_idf_list, key = lambda x:x[1], reverse=True)
print('\nidf values:')

idf values:
[('100', 6.212214667494625), ('2d', 6.212214667494625), ('365', 6.212214667494625), ('3ds', 6.212214667494625), ('absolute', 6.212214667494625), ('accelerate', 6.212214667494625), ('accelerates', 6.212214667494625), ('accelerating', 6.212214667494625), ('acceptable', 6.212214667494625), ('acceptance', 6.212214667494625), ('achieved', 6.212214667494625), ('achievements', 6.212214667494625), ('achieves', 6.212214667494625), ('acquiring', 6.212214667494625), ('acquisition', 6.212214667494625), ('activity', 6.212214667494625), ('actor', 6.212214667494625), ('actors', 6.212214667494625), ('acts', 6.212214667494625), ('actual', 6.212214667494625)]

TF-IDF highlights words that characterise a specific job description.

For each job ad, take the top 5 TF-IDF words
Group ads by high vs low women_proportion
See which words keep appearing in each group
See which TF-IDF words statistically associate with higher/lower womenâ€™s application rates
Build a regression model (e.g., Ridge or Lasso) to predict women_proportion from TF-IDF vectors